<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>管理者ログイン</title>
</head>
<body>
    <h1>管理者ログイン</h1>
    <form th:action="@{/admin/signin}"  method="post">
        <table border="1">
            <tr>
                <td>メールアドレス</td>
                <td>
                    <input type="email"name="username"  required />
                </td>
            </tr>
            <tr>
                <td>パスワード</td>
                <td>
                    <input type="password" name="password" required />
                </td>
            </tr>
        </table>
        <input type="submit" value="ログイン">
    </form>
    <div th:if="${param.error}">
        <p style="color:red;">ログインに失敗しました。再度お試しください。</p>
    </div>
</body>
</html>
