<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>新規登録</title>
</head>
<body>
  <h1>新規登録</h1>
  <form th:action="@{/admin/signup}" th:object="${admin}" method="post">
	<table border="1">
		<tr>
			<td>姓</td>
			<td>
				<input type="text" th:field="*{lastName}" />
			</td>
		</tr>
		<tr>
			<td>名</td>
			<td>
				 <input type="text" th:field="*{firstName}" />
			</td>
		</tr>
		<tr>
			<td>メールアドレス</td>
			<td>
				<input type="email" th:field="*{email}" />
			</td>
		</tr>
		<tr>
			<td>パスワード</td>
			<td>
				<input type="password" th:field="*{password}" />
			</td>
		</tr>
	</table>
	<input type="submit" value="登録">
  </form>
</body>
</html>